body, html {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: #D6231E;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont,
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
    font-family: "Dosis", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont,
    sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 65px;
}

h2 {
    font-size: 40px;
    line-height: 55px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/** list **/
.leaderboard-list {
    display: flex;
    justify-content: space-between;
}

.question-list {
    padding: 0;
    margin: 0;
}

.question-list li {
    list-style: none;
    margin-bottom: 20px;
}

/** Cards **/
.card {
    flex-basis: 30%;
}

.card-body {
    color: black;
}

/** Tabs **/
.tabs button.active {
    background-color: #F8B500 !important;
    border: none !important;
    border-radius: 0 !important;
    color: #1F2226 !important;
    outline: none !important;
}

/** Titles **/
.title {
    border-bottom: 1px solid white;
    display: block;
    margin: 30px 0;
    padding-bottom: 20px;
}

.form-control {
    border: 2px solid #1F2226;
    border-radius: 0;
    color: #1F2226;
    height: 60px;
}